# remove the following ignores for your project
/config/pimcore/constants.php
*/config/pimcore/constants.php

# symfony default
/.web-server-pid
*/.web-server-pid
/config/pimcore/parameters.yml
*/config/pimcore/parameters.yml
/build/
*/build/
/phpunit.xml
*/phpunit.xml

# local config
/.env.local
*/.env.local
/.env.local.php
*/.env.local.php
/.env.*.local
*/.env.*.local
!/config/local
/config/local/*
*/config/local/*
!config/local/.gitkeep

/var/*
*/var/*
!/var/.gitkeep
!/var/classes/
/var/classes/DataObject
*/var/classes/DataObject

!/var/config
/var/config/system.yml
*/var/config/system.yml
/var/config/debug-mode.php
*/var/config/debug-mode.php
/var/config/maintenance.php
*/var/config/maintenance.php

# project specific recommendations
/var/config/tag-manager.php
*/var/config/tag-manager.php
/var/config/reports.php
*/var/config/reports.php

/public/var/
*/public/var/
/public/sitemap*.xml
*/public/sitemap*.xml

# PHP-CS-Fixer
/.php-cs-fixer.php
*/.php-cs-fixer.php
/.php-cs-fixer.cache
*/.php-cs-fixer.cache

# composer
/vendor/
*/vendor/

# PhpStorm / IDEA
.idea
*/.idea
# NetBeans
nbproject
*/nbproject

# temp
.temp
*/.temp
